{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="col my-3">
  <div class="row" id="post-button">
    <input type="button" class="btn btn-outline-primary btn-block" value="Post">
  </div>

  <div id="post-form" class="container shadow p-3 mb-5 bg-white rounded">
    <form id="compose-form">
      <div class="d-flex justify-content-end">
        <button id="post-close" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="post-text" placeholder="What's on your mind?"
          style="min-height: 10em; max-height: 50vh;"></textarea>
      </div>
      <div class="d-flex justify-content-end">
        <input type="submit" class="btn btn-primary" value="Post">
      </div>
    </form>
  </div>

  <div id="post-view" class="my-5">
    <div id="post-card-template" class="col shadow-lg p-3 mb-5 bg-white rounded">
      <a id="post-user" class="row mx-3 font-weight-bold"></a>
      <div id="post-timestamp" class="row mx-3 text-secondary small"></div>
      <div class="mx-3 my-2">
        <button id="post-text-edit" class="btn btn-link mx-0 btn-sm" style="float: right;">edit</button>
        <div id="post-text" class="row mx-2"></div>
      </div>
      <button id="post-likes" class="btn btn-link mx-2 btn-sm"></button>
      <button id="post-comments" class="btn btn-link mx-2 btn-sm"></button>

      <div id="comment-form" class="shadow-sm p-3 bg-white rounded" style="display: none;">
        <form id="compose-form">
          <div class="form-group">
            <textarea class="form-control" id="comment-text" placeholder="Comment..." required></textarea>
          </div>
          <div class="d-flex justify-content-end">
            <input type="submit" class="btn btn-primary btn-sm" value="Comment">
          </div>
        </form>
      </div>

      <div id="post-all-comments" class="container">
      </div>
    </div>
  </div>

  <div id="profile-view" class="my-5">
    <div class="col">
      <div id="profile-username" class="d-flex justify-content-center shadow p-3 bg-white rounded">
        <h1></h1>
      </div>
      <hr>
      <div id="profile-follow"></div>
      <hr>

      <div class="row">
        <div id="profile-posts" class="col shadow-sm p-3 d-flex justify-content-start">
          <strong>Posts</strong>
        </div>

        <div id="profile-followers" class="col shadow-sm p-3 d-flex justify-content-center">
          <strong>Followers</strong>
        </div>

        <div id="profile-following" class="col shadow-sm p-3 d-flex justify-content-end">
          <strong>Following</strong>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block script %}
<script src="{% static 'network/post.js' %}"></script>
{% endblock script %}